.valuebox {
    padding: 50px 100px;
  }
  
  .valueblock {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: rgb(56, 1, 56);
    border-radius: 12px;
    opacity: 0.9;
  }
  
  .valuea,
  .valueb {
    border-right: 1px dotted white;
  }
  
  .valuea,
  .valueb,
  .valuec {
    padding: 0px 15px;
    color: white;
  }
  
  .icon {
    margin-bottom: 25px;
    font-size: 35px;
    color: white;
  }
  
  .valuea h3,
  .valueb h3,
  .valuec h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }
  
  .valuea p,
  .valueb p,
  .valuec p {
    font-size: 15px;
  }



  @media screen and (max-width: 768px) {
    .valueblock {
        flex-direction: column;
        gap: 40px;
      }

      .valuea,
      .valueb {
        border-bottom: 1px dotted white;
        border-right: none;
        padding-bottom: 20px;
      }

      .valuea,
      .valueb,
      .valuec {
        text-align: center;
      }
  }


  @media screen and (max-width: 450px) {
    .valueblock {
        flex-direction: column;
        gap: 40px;
      }
    
      .valuea,
      .valueb {
        border-bottom: 1px dotted white;
        border-right: none;
      }
    
      .valuea p,
      .valueb p {
        margin-bottom: 18px;
      }

      .valuebox{
        padding: 30px 40px;
      }
  }